@media screen and (max-width: 1200px) {

    #lang_selector_button {
        margin-left: 55px !important;
    }

    #back_button {
        margin-right: 55px;
    }

    #img {
        width: 150px;
    }
}